/* header nav */
.flex-container {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 40px;
}

.nav1 {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.nav1 h4 {
  padding-left: 10px;
  color: #66CDAA;
}

.nav2 {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.nav2 a {
  padding: 25px 40px 0px 0px;
  color: black;
}

/* body */

body {
  padding: 40px 30px;
}

.flex-body {
  display: flex;
  justify-content: space-between;
  border: 0.1px hidden black;
}

.flex-body p {
 font-family: Georgia;
 font-size: 17px;
 color: black;
}

.section1 {
  display: flex;
  background-image: url("../images/img-story-main.png");
  border: 0.1px solid black;
}

.section1 h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.section2 {
  display: flex;
  background-image: url("../images/img-story-2.png");
  border: 0.1px solid black;
  margin-right: 50px;
}

.section2 h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.section3 {
  display: flex;
  background-image: url("../images/img-story-3.png");
  border: 0.1px solid black;
}

.section3 h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.section4 {
  display: flex;
  background-image: url("../images/img-story-1.png");
  border: 0.1px solid black;
}

.section4 h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.section img {
  padding: 2px;
}

.section h2 {
  font-family: Georgia;
  font-size: 30px;
  color: black;
}

.flex-container2 {
  display: flex;
}

.flex-container3 {
  display: flex;
  align-items: space-between;
  height: 300px;
  padding-bottom: 30px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.bites {
 background-color: WhiteSmoke;
 margin-top: 30px;
}

.bites p {
  font-family: Verdana;
  font-size: 12px;
  font-weight: normal;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 10px;
}

.sectionx {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

/* footer section */

.footer {
  display: flex;
  flex-direction: row;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  padding: 80px 80px;
}

.footer
.title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.footer
.nav3 {
  padding: 0px 40px 0px 30px;
}

.footer
.nav3 a {
  color: black;
}

.copyright {
  flex-direction: row;
}
